.item-list-container {
  background-color: #282c34;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.item-list-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.item-list-container select {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  margin-bottom: 20px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.item-card.show {
  opacity: 1;
  transform: translateY(0);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Borde gris claro */
  border-top: 4px solid #007bff; /* Borde superior con el color de acento */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite; /* Animación de giro */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}